/*fjerner defaults*/
* {
    margin: 0;
}

/*Sætter scroll behavior på html*/
html {
    scroll-behavior: smooth;
}

/*Sætter baggrundsfarve på body*/
body {
    background-color: #1a1a1a;
}

/*Sætter baggrundsbillede/splash på header og bestemmer str*/
header {
    background-image: url(denise-jans-OaVJQZ-nFD0-unsplash.jpg);
    width: 100vw;
    height: 38rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
}

.menu {
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu img {
    width: 3rem;
    margin: 0.5rem;
    margin-left: 2rem;

}

.menu a {
    align-self: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    margin-right: 2rem;
}

.splashlogo {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

@media only screen and (max-width: 800px) {

    #weblogo {
        display: none;
    }

    #mobillogo {
        width: 50%;
        max-width: 300px;
    }
}

.gradient {
    height: 100%;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 34%, rgba(26, 26, 26, 1) 100%);
}



/*Bestemmer skrift på buttons*/
button,
h2 {
    font-family: "Bebas Neue", sans-serif;
}


/*Hebo på brødtekst (husk)*/
p {
    font-family: "Montserrat";
}


#section_dropdown {
    display: flex;
    justify-content: center;
}


/*centrer navigationsknappen*/


@media only screen and (max-width: 800px) {
    #nav_dropdown {
        top: 85%;
        position: absolute;
    }

    /* Styler Dropdown Button aka dropbtn */
    .dropbtn {
        background-color: #1a1a1a;
        color: white;
        padding: 1rem 4rem;
        width: 14rem;
        font-size: 20px;
        border: 1px solid white;
        border-radius: 30px;
        cursor: pointer;
        font-family: "Bebas Neue", sans-serif;
    }



    /* sætter position på */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown_content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;

        border-radius: 0px 0px 30px 30px;
        min-width: 14rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* filterknapper i dropdown */
    .dropdown_content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-family: "Bebas Neue", sans-serif;
    }


    /* viser drop dovn menu */
    .dropdown:hover .dropdown_content {
        display: block;
    }


    /* skifter background coler på button når content vises*/
    .dropdown:hover .dropbtn {
        background-color: white;
        color: black;
        border-radius: 30px 30px 0px 0px;
    }
}

/*fjerner h1 emne i mobile view*/
@media only screen and (max-width: 800px) {
    #emne {
        display: none;
    }
}

/* sætter grid på kategori for at lave grid-gap istedet for margin-top/bottom */
.kategori {
    display: grid;
    grid-gap: 3rem;
    margin-left: 5%;
}

/*sætter grid på genre sectionerne */
.section_grid {
    display: grid;
    grid-gap: 1rem;
    /*    grid-template-rows: auto 3rem 2fr;*/
    grid-template-areas: "h2 btn""scrollbtn scrollbtn";

}

.vis_alle_genre {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-right: 1rem;
}

@media only screen and (min-width: 800px) {
    .vis_alle_genre {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin-right: 3rem;
    }
}


/*Styler h2 i kategori sectionen*/
.kategori h2 {
    color: white;
    grid-area: h2;
    width: 12rem;
    padding-top: .6rem;
    padding-bottom: .6rem;

}

/*Styler genre buttons*/
.genrebut {
    margin-right: 1rem;
    padding-top: 15px;
    grid-area: btn;
    background-color: #990606;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

/*Sætter grid på classen scroll som rammer articles i kategori sectionen.*/
/*tilføjer overflox-x: scroll så man kan scrolle igennem filmene*/
.scroll {
    /*    margin-left: 5%;*/
    grid-area: scrollbtn;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem 8rem 8rem 8rem 8rem;
    overflow-x: scroll;
}

/*bestemmer str på film billeder i template tagget*/
#film_boks img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 25px;

}

/*Styler filter btns*/
.filter {
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}


/* styling til popop*/
#popop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    z-index: 10;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


#popop article {
    width: 90vw;
    height: 90%;
    margin: 2rem auto;
    background-color: #1a1a1a;
    border-radius: 25px;
    overflow-y: scroll;
}

.box1 {
    margin-left: 3rem;
}


#luk {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #1a1a1a;
    position: fixed;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 25px 25px 0px 0px;
    width: 90vw;
    padding: 1em;
    z-index: 15;
}

#popop img {
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 80%;
    height: 19rem;
    object-fit: cover;
    border-radius: 25px;
}

.play {
    background-color: #9b0000;
    border: 0;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    width: 80%;
    font-size: 20px;
}

.trailer {
    background-color: #707070;
    border: 0;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    width: 80%;
    font-size: 20px;
}

.box2 {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box2 .navn {
    font-size: 35px;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

/*sætter grid på så de små informationer ligger vandret*/
/*mangler at blive cebtreret*/
.box2 .film_lilleinfo {
    margin-top: 0.5rem;
    display: grid;
    grid-gap: 1.6rem;
    grid-template-areas: "imdb aar spilletid alder";
}

.imdb {
    grid-area: imdb;
}

.aar {
    grid-area: aar
}

.spilletid {
    grid-area: spilletid;
}

.alder {
    grid-area: alder;
}

.film_storinfo h2 {
    font-size: 25px;
    margin-top: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
}

.film_storinfo p {
    font-size: 14px;
    padding-top: 0.5rem;
}

/*kode til java*/
.hide {
    display: none;
}

/*prøvekode til java (kan slettes)*/
.active {
    background-color: aqua;
}

/*Sætter dropbtn og #emne til display: none når skærm str er større end 600px*/
@media only screen and (min-width: 800px) {
    .dropbtn {
        display: none;
    }

    #emne {
        display: none;
    }
}

/*sætter højde på header*/
@media only screen and (min-width: 800px) {
    header {
        height: 800px;
    }
}

@media only screen and (min-width: 800px) {
    #weblogo {}

    #mobillogo {
        display: none;
    }

    .splashlogo {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    .splashlogo img {
        width: 70vw;
    }
}

@media only screen and (min-width: 800px) {
    #nav_dropdown {
        top: 90%;
        padding-top: 15rem;
        position: relative;
    }

    .dropdown_content {
        max-width: 90vw;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .filter {
        border: 1px solid white;
        border-radius: 25px;
        margin-right: 0;
        text-align: center;
        min-width: 100px;
        font-family: "Bebas Neue", sans-serif;
    }

    .filter:hover {
        background-color: #9b0000;
    }
}

@media only screen and (min-width: 800px) {

    /*ændre grid i desktop view*/
    .section_grid {
        grid-template-areas: "h2 h2""btn scrollbtn"
    }

    .kategori h2 {
        width: 15rem;
        padding-top: .6rem;
        padding-bottom: .6rem;
        font-size: 40px;
    }

    /*Styler genre buttons*/
    .genrebut {
        text-align: center;
        padding-top: 60%;
        background-color: #1a1a1a;
        width: 12rem;
        border: 1px solid white;
        font-size: 25px;
        font-family: "Bebas Neue", sans-serif;
    }

    .genrebut:hover {
        background-color: #9b0000;
    }

    /*Sætter grid på classen scroll som rammer articles i kategori sectionen.*/
    /*tilføjer overflox-x: scroll så man kan scrolle igennem filmene*/
    .scroll {
        grid-template-columns: 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem;
        /*    margin-left: 5%;*/
    }

    #film_boks img {
        height: 18rem;
    }

    #film_boks:hover {
        opacity: 0.3;
    }
}

/*styler pop op når skærmvidden er over 600px;*/
@media only screen and (min-width: 800px) {
    #popop article {
        width: 60%;
        height: 45rem;
    }

    #luk {
        width: 4rem;
        border: 1px solid white;
        border-radius: 40px 40px 40px 40px;
        margin-left: 53vw;
        margin-top: 1.2rem;
    }

    #luk:hover {
        color: #9b0000;
        border: 1px solid #9b0000;
    }


    .container {
        margin-top: 5rem;
        display: grid;

        grid-template-areas: "box1 box2""box3 box3";
    }

    .box1 {
        width: 400px;
        grid-area: box1;
    }

    #popop img {
        margin-top: 0;
        width: 300px;
        height: 400px;
    }

    .play,
    .trailer {
        width: 300px;
    }

    .play:hover {
        background-color: darkred;
    }

    .trailer:hover {
        background-color: #4f4d4f;
    }


    .box2 {
        grid-area: box2;
        margin: 0;
        margin-right: 3rem;
    }

    .box3 {
        grid-area: box3;
    }
}

#imdb_container {
    display: flex;
    flex-direction: row;
}

#popop .imdbstar {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0;
    margin-right: 0.5rem;
}

footer {
    margin-top: 4rem;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
}

address {
    align-items: center;
    color: white;
    font-family: poppins light, sans-serif;
    font-size: 14px;
    width: 100%;
    object-fit: cover;
    flex-basis: auto;
    width: 95vw;
}

footeraddres {
    align-items: center;
    color: grey;
    font-family: poppins light, sans-serif;
    font-size: 14px;
    width: 100%;
    object-fit: cover;
    flex-basis: auto;
    width: 95vw;
}

footer img {
    width: 10%;
    height: 10%;
}

@media only screen and (min-width: 800px) {
    footer img {
        width: 3%;
        height: 3%;
    }
}
