* {
    margin: 0;
}

body {
    background-color: #1a1a1a;
}

.content {
    margin-left: 10vw;
}

.splash img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}


.kategori {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 200px auto;
    grid-template-areas:
        "genretxt1 indhold1"
        "genretxt2 indhold2"
        "genretxt3 indhold3"
        "genretxt4 indhold4"
        "genretxt5 indhold5"
        "genretxt6 indhold6";

}

.genretxt1 {
    grid-area: genretxt1;
}

#premiere {
    grid-area: indhold1;
}

.genretxt2 {
    grid-area: genretxt2;
}

#romantic {
    grid-area: indhold2;
}

.genretxt3 {
    grid-area: genretxt3;
}

#animation {
    grid-area: indhold3;
}

.genretxt4 {
    grid-area: genretxt4;
}

#comedy {
    grid-area: indhold4;
}

.genretxt5 {
    grid-area: genretxt5;
}

#horror {
    grid-area: indhold5;
}

.genretxt6 {
    grid-area: genretxt6;
}

#documentary {
    grid-area: indhold6;
}


.scroll {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    overflow-x: scroll;

}



#film_boks img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;

}

.filter {
    background-color: #1a1a1a;
    border: 1px solid white;
    padding: 15px 40px;
    border-radius: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.genrebut {
    background-color: #464646;
    border-radius: 25px;
    border: none;
    text-decoration: none;
}


.genretxt {
    width: 100px;
    height: 100px;

}

/*kode menu toggle*/

/*****Fonts*****/


ul {
    font-family: "Bebas Neue", sans-serif;
    padding-top: 10px
}

li {
    font-family: "Bebas Neue", sans-serif;
}

/*****Header*****/

/*****Body*****/


/*****Navbar*****/
nav {
    display: flex;
    top: 0;
    text-align: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Navbar links */
nav a {
    color: red;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
}

nav a:hover {
    color: grey;
    cursor: pointer;
}



.hidden {
    opacity: 1.0;
    transform: translateX(-300%)
}

#menuknap {
    display: inline-block;
    position: absolute;
    top: 2vw;
    left: 90vw;
    font-size: 20px;
    color: red;
    font-family: Bebas Neue, sans-serif;
}

#menuknap:hover {
    cursor: pointer;
}

#menu {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
}




@media (max-width: 850px) {
    p {
        margin: auto;
    }

    h1 {
        text-align: center;
    }


    nav a {
        padding: 0px;
    }


    #logo {
        width: 55vw;
        justify-content: center;
        margin-left: 20px;
    }


    nav {
        text-align: left;
    }

}

@media (min-width:600px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;

    }

    #menu li {
        display: inline-block;
    }
}


/* styling til popop*/
#popop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.container {
    width: 60vw;
    height: 90%;
    background-color: #1a1a1a;
    border-radius: 25px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "box1 box1 box2 box2""box3 box3 box3 box3";
    grid-auto-rows: 2fr 1fr;

}

.box1 {
    margin: 30px;
    grid-area: box1;
    display: flex;
    flex-direction: column;
}

.box2 {
    margin: 30px;
    grid-area: box2;


}

.box3 {
    background-color: beige;
    grid-area: box3;
}



#popop article {
    width: 60vw;
    height: 70%;
    margin: 4rem auto;
    background-color: #1a1a1a;
    border-radius: 25px;

}

.play {
    background-color: #9b0000;
    border: 0;
    padding: 15px 40px;
    border-radius: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    width: 15rem
}

.trailer {
    background-color: #707070;
    border: 0;
    padding: 15px 40px;
    border-radius: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    width: 15rem;
}

#popop img {
    width: 15rem;
    height: 20rem;
    border-radius: 25px;
}


#luk {
    position: fixed;
    margin-left: 57rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 3px solid grey;
    width: 50px;
    padding: 1em;
    z-index: 10;

}



#popop h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#popop .column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
